(
    creatures: [
        (
            kind: "Deer",
            eats: ["grass"],
            prey: [],
            move_speed: 3.5,
            sprint_speedup: 1.8,
            attack_damage: 0.0,
            attack_cooldown: 0.0,
            attack_range: 0.0,
            bravery: 0.3,
            endurance: 0.8,
            weakness: 0.6,
            appetite: 0.5
        ),
        (
            kind: "Wolf",
            eats: ["venison", "rabbit_meat"],
            prey: ["Deer", "Rabbit"],
            move_speed: 5.0,
            sprint_speedup: 1.5,
            attack_damage: 15.0,
            attack_cooldown: 1.2,
            attack_range: 1.5,
            bravery: 0.7,
            endurance: 0.9,
            weakness: 0.6,
            appetite: 0.8
        ),
        (
            kind: "Bear",
            eats: ["wolf_meat", "venison", "goblin_flesh"],
            prey: ["Wolf", "Deer", "Goblin"],
            move_speed: 3.0,
            sprint_speedup: 1.3,
            attack_damage: 30.0,
            attack_cooldown: 2.0,
            attack_range: 2.0,
            bravery: 0.9,
            endurance: 0.6,
            weakness: 0.9,
            appetite: 0.6
        ),
        (
            kind: "Rabbit",
            eats: ["apple"],
            prey: [],
            move_speed: 5.5,
            sprint_speedup: 2.0,
            attack_damage: 0.0,
            attack_cooldown: 0.0,
            attack_range: 0.0,
            bravery: 0.2,
            endurance: 0.7,
            weakness: 0.3,
            appetite: 0.7
        ),
        (
            kind: "Fox",
            eats: ["rabbit_meat"],
            prey: ["Rabbit"],
            move_speed: 4.5,
            sprint_speedup: 1.6,
            attack_damage: 8.0,
            attack_cooldown: 1.0,
            attack_range: 1.0,
            bravery: 0.4,
            endurance: 0.6,
            weakness: 0.3,
            appetite: 0.7
            
        ),
        (
            kind: "Goblin",
            eats: ["rabbit_meat"],
            prey: ["Rabbit"],
            move_speed: 3.0,
            sprint_speedup: 1.4,
            attack_damage: 10.0,
            attack_cooldown: 1.5,
            attack_range: 1.2,
            bravery: 0.2,
            endurance: 0.2,
            weakness: 0.3,
            appetite: 0.9
        ),
        (
            kind: "Bard",
            eats: ["wolf_meat"],
            prey: ["Wolf"],
            move_speed: 2.5,
            sprint_speedup: 1.2,
            attack_damage: 5.0,
            attack_cooldown: 3.0,
            attack_range: 5.0,
            bravery: 0.7,
            endurance: 0.9,
            weakness: 0.2,
            appetite: 0.4
        ),
    ]
)